---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>GitLab Tool</h1>
  <p>This page will talk about the best GitLab features, and explain how you can use them in Corporative Enviroments.</p>
  
  <h2>GitLab-CI</h2>
  <p>About Continuous Integration</p>

  <h3>Runners</h3>
  <p>About Runners
    <%= link_to "Register Your Runner", "https://docs.gitlab.com/runner/register/index.html" %>
  </p>
  <p class="doc">
    
    
  </p><!-- .doc -->
</div><!-- .welcome -->
